:root {
  --primaryColor: #50a5f1;
  --secondaryColor: #f1b44c;
  --tertiaryColor: #74788d;
}

body {
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.contents {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 300px;
}

.flex-1 {
  flex: 1;
}

.font-weight-bold { font-weight: bold; }

input {
  border: 1px solid var(--primaryColor);
  border-radius: 2px;
  padding: 0.5rem;
  width: 300px;
}

input:focus-visible {
  outline: var(--primaryColor) auto 1px;
}

button {
  margin-left: 50px;
  height: 30px;
  font-weight: bold;
  padding: 0 20px;
  background: var(--secondaryColor);
  border-radius: 2px;
  border: none;
}

button:hover {
  cursor: pointer;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid var(--primaryColor);
  border-top: none;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  font-weight: bold;
}

.suggestion-active,
.suggestions li:hover {
  background-color: var(--tertiaryColor);
  color: black;
  cursor: pointer;
}
